*{
    padding: 0;
    margin: 0;
}
#container{
    width: 70% 70%;
    background-image: url(./IMAGENES/fondos-para-paÌginas-web-6.jpg);
}
img{
    width: 70%;
    height: 70%;    
}
div{
    text-align: center;
}